**
!language-configuration.json
!typst.tmLanguage.json
!out/extension.js
!out/tinymist
!out/tinymist.exe
!out/typst.tmLanguage.json
!out/typst-code.tmLanguage.json
!out/editor-tools/**
!out/frontend/**
!package.json
!package-lock.json
!icons/**
!README.md
!LICENSE
!CHANGELOG.md
