**
!package.nls.json
!package.nls.*.json
!out/tinymist-docs.pdf
!out/extension.js
!out/extension.web.js
!out/tinymist
!out/tinymist.exe
!out/typst.tmLanguage.json
!out/typst-code.tmLanguage.json
!out/editor-tools/**
!package.json
!package-lock.json
!icons/**
!syntaxes/**
!README.md
!LICENSE
!CHANGELOG.md
