/target/
/editors/lapce/target/
result*
.direnv
.envrc
node_modules/
/local/
editors/vscode/out/
editors/lapce/out/
/external/typst-preview
/dist

# Python
__pycache__/
*.py[cod]

*.pdf
.vscode/*.code-workspace
refs/
