/target/
/editors/lapce/target/
result*
.direnv
.envrc
.nvimlog
node_modules/
/local/
editors/vscode/out/
editors/lapce/out/
/external/typst-preview
/dist
/build

*.pdf
.vscode/*.code-workspace
refs/
.playwright-mcp/
.gradle
