/target/
/editors/lapce/target/
result*
.direnv
.envrc
node_modules/
/local/
editors/vscode/out/
editors/lapce/out/
/external/typst-preview
/dist

*.pdf
.vscode/*.code-workspace
refs/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
