.DS_Store
.git/**
.github/**
.vscode/**
assets/**
src/**
target/**
dist/**
icons/
node_modules/
editors/vscode/test-dist/
editors/vscode/out/
editors/vscode/.vscode-test/**
*.toml
*.txt
*.lock
*.md

.env
.env.*

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
