[workspace.package]
description = "An integrated language service for Typst."
authors = ["Myriad-Dreamin <camiyoru@gmail.com>", "Nathan Varner"]
version = "0.11.13"
edition = "2021"
readme = "README.md"
license = "Apache-2.0"
homepage = "https://github.com/Myriad-Dreamin/tinymist"
repository = "https://github.com/Myriad-Dreamin/tinymist"
rust-version = "1.75"

[workspace]
resolver = "2"
members = ["crates/*", "tests"]

[workspace.dependencies]

once_cell = "1"
anyhow = "1"

base64 = "0.22.0"
fxhash = "0.2.1"
ecow = "0.2.1"
comemo = "0.4"
ena = "0.14.2"
futures = "0.3"
regex = "1.10.3"
itertools = "0.12.1"
lazy_static = "1.4.0"
env_logger = "0.11.3"
log = "0.4.21"
siphasher = "1"
strum = { version = "0.26.2", features = ["derive"] }
async-trait = "0.1.77"
parking_lot = "0.12.1"
walkdir = "2"
indexmap = "2.1.0"
paste = "1.0"
toml = { version = "0.8", default-features = false, features = [
    "parse",
    "display",
] }
codespan-reporting = "0.11"

typst = "0.11.1"
typst-timing = "0.11.1"
typst-pdf = "0.11.1"
typst-svg = "0.11.1"
typst-render = "0.11.1"
typst-assets = "0.11.1"
reflexo = { version = "0.5.0-rc5", default-features = false, features = [
    "flat-vector",
] }
reflexo-world = { version = "0.5.0-rc5", features = ["system"] }
typst-ts-core = { version = "0.5.0-rc5", default-features = false }
typst-ts-compiler = { version = "0.5.0-rc5" }
typst-ts-svg-exporter = { version = "0.5.0-rc5" }
typstyle = "0.11.28"
typstfmt_lib = { git = "https://github.com/astrale-sharp/typstfmt", tag = "0.2.7" }

lsp-server = "0.7.6"
lsp-types = { version = "=0.95.0", features = ["proposed"] }
crossbeam-channel = "0.5.12"

clap = { version = "4.5", features = ["derive", "env", "unicode", "wrap_help"] }
clap_builder = { version = "4", features = ["string"] }
clap_complete = "4.5"
clap_complete_fig = "4.5"
clap_mangen = { version = "0.2.15" }
vergen = { version = "8.2.5", features = [
    "build",
    "cargo",
    "git",
    "gitcl",
    "rustc",
] }
tokio = { version = "1.36.0", features = [
    "macros",
    "rt-multi-thread",
    "io-std",
] }
rayon = "1.10.0"
tokio-util = { version = "0.7.10", features = ["compat"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_yaml = "0.9"
yaml-rust2 = "0.8"
biblatex = "0.9"
# We need to freeze the version of the crate, as the raw-api feature is considered unstable
dashmap = { version = "=5.5.3", features = ["raw-api"] }
rustc-hash = "1"
triomphe = { version = "0.1.10", default-features = false, features = ["std"] }
hashbrown = { version = "0.14", features = [
    "inline-more",
], default-features = false }

divan = "0.1.14"
insta = { version = "1.36", features = ["glob"] }

sync-lsp = { path = "./crates/sync-lsp" }

typst-preview = { path = "./crates/typst-preview/" }
tinymist-assets = { version = "0.11.13" }
tinymist = { path = "./crates/tinymist/" }
tinymist-query = { path = "./crates/tinymist-query/" }
tinymist-render = { path = "./crates/tinymist-render/" }

[profile.dev.package.insta]
opt-level = 3

[profile.dev.package.similar]
opt-level = 3

[profile.release]
# lto = true        # Enable link-time optimization
codegen-units = 1 # Reduce number of codegen units to increase optimizations
panic = "abort"   # Abort on panic

[profile.gh-release]
inherits = "release"
debug = true

[workspace.lints.rust]
missing_docs = "warn"

[workspace.lints.clippy]
uninlined_format_args = "warn"
# missing_errors_doc = "warn"
# missing_panics_doc = "warn"
missing_safety_doc = "warn"
undocumented_unsafe_blocks = "warn"

[patch.crates-io]

tinymist-assets = { path = "./crates/tinymist-assets/" }

typst = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "tinymist-v0.11.1" }
typst-timing = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "tinymist-v0.11.1" }
typst-svg = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "tinymist-v0.11.1" }
typst-render = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "tinymist-v0.11.1" }
typst-pdf = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "tinymist-v0.11.1" }
typst-syntax = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "tinymist-v0.11.1" }

# typst = { path = "../typst/crates/typst" }
# typst-timing = { path = "../typst/crates/typst-timing" }
# typst-svg = { path = "../typst/crates/typst-svg" }
# typst-pdf = { path = "../typst/crates/typst-pdf" }
# typst-render = { path = "../typst/crates/typst-render" }
# typst-syntax = { path = "../typst/crates/typst-syntax" }

# typst-ts-svg-exporter = { git = "https://github.com/Myriad-Dreamin/typst.ts/", rev = "11b1ef0909ee6ded49eb84db999af14276125a62" }
# reflexo = { git = "https://github.com/Myriad-Dreamin/typst.ts/", rev = "11b1ef0909ee6ded49eb84db999af14276125a62" }
# reflexo-world = { git = "https://github.com/Myriad-Dreamin/typst.ts/", rev = "11b1ef0909ee6ded49eb84db999af14276125a62" }
# typst-ts-core = { git = "https://github.com/Myriad-Dreamin/typst.ts/", rev = "11b1ef0909ee6ded49eb84db999af14276125a62" }
# typst-ts-compiler = { git = "https://github.com/Myriad-Dreamin/typst.ts/", rev = "11b1ef0909ee6ded49eb84db999af14276125a62" }

# typst-ts-svg-exporter = { path = "../typst.ts/exporter/svg" }
# reflexo = { path = "../typst.ts/crates/reflexo/" }
# reflexo-world = { path = "../typst.ts/crates/reflexo-world/" }
# typst-ts-core = { path = "../typst.ts/core" }
# typst-ts-compiler = { path = "../typst.ts/compiler" }
# typstyle = { path = "../typstyle" }
