[workspace.package]
description = "An integrated language service for Typst."
authors = ["Myriad-Dreamin <camiyoru@gmail.com>", "Nathan Varner"]
version = "0.10.2"
edition = "2021"
readme = "README.md"
license = "Apache-2.0"
homepage = "https://github.com/Myriad-Dreamin/tinymist"
repository = "https://github.com/Myriad-Dreamin/tinymist"
rust-version = "1.74"

[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.dependencies]

once_cell = "1"
anyhow = "1"

fxhash = "0.2.1"
ecow = "0.2.1"
comemo = "0.4"
ena = "0.14.2"
futures = "0.3"
regex = "1.10.3"
itertools = "0.12.1"
lazy_static = "1.4.0"
env_logger = "0.11.3"
log = "0.4.21"
strum = { version = "0.26.2", features = ["derive"] }
async-trait = "0.1.77"
parking_lot = "0.12.1"
walkdir = "2"
indexmap = "2.1.0"
paste = "1.0"
toml = { version = "0.8", default-features = false, features = [
    "parse",
    "display",
] }
codespan-reporting = "0.11"

typst = "0.11.0"
typst-ide = "0.11.0"
typst-pdf = "0.11.0"
typst-assets = { git = "https://github.com/typst/typst-assets", rev = "4d1211a" }
typst-ts-core = { version = "0.4.2-rc8" }
typst-ts-compiler = { version = "0.4.2-rc8" }
typst-preview = { git = "https://github.com/Enter-tainer/typst-preview", rev = "b7db246d8a61a2f1caf9d3a6aa6b74ac68c3027c" }

lsp-server = "0.7.6"
lsp-types = { version = "=0.95.0", features = ["proposed"] }
crossbeam-channel = "0.5.12"

clap = { version = "4.4", features = ["derive", "env", "unicode", "wrap_help"] }
clap_builder = { version = "4", features = ["string"] }
clap_complete = "4.4"
clap_complete_fig = "4.4"
clap_mangen = { version = "0.2.15" }
vergen = { version = "8.2.5", features = [
    "build",
    "cargo",
    "git",
    "gitcl",
    "rustc",
] }
tokio = { version = "1.36.0", features = [
    "macros",
    "rt-multi-thread",
    "io-std",
] }
tokio-util = "0.7.10"
serde = { version = "1", features = ["derive"] }
serde_json = "1"

divan = "0.1.14"
insta = { vesrion = "1.36", features = ["glob"] }

[profile.dev.package.insta]
opt-level = 3

[profile.dev.package.similar]
opt-level = 3

[profile.release]
lto = true        # Enable link-time optimization
debug = true
opt-level = 3     # Optimize for speed
codegen-units = 1 # Reduce number of codegen units to increase optimizations
panic = 'abort'   # Abort on panic

[workspace.lints.rust]
missing_docs = "warn"

[workspace.lints.clippy]
uninlined_format_args = "warn"
# missing_errors_doc = "warn"
# missing_panics_doc = "warn"
missing_safety_doc = "warn"
undocumented_unsafe_blocks = "warn"

[patch.crates-io]


typst = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "tinymist-v0.11.0" }
typst-ide = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "tinymist-v0.11.0" }
typst-pdf = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "tinymist-v0.11.0" }
typst-syntax = { git = "https://github.com/Myriad-Dreamin/typst.git", branch = "tinymist-v0.11.0" }

# typst = { path = "../typst/crates/typst" }
# typst-ide = { path = "../typst/crates/typst-ide" }
# typst-pdf = { path = "../typst/crates/typst-pdf" }
# typst-syntax = { path = "../typst/crates/typst-syntax" }

typst-ts-svg-exporter = { git = "https://github.com/Myriad-Dreamin/typst.ts", rev = "2fc877de0a4bcd7a8f057933546a97348e9621c7", package = "typst-ts-svg-exporter" }
typst-ts-core = { git = "https://github.com/Myriad-Dreamin/typst.ts", rev = "2fc877de0a4bcd7a8f057933546a97348e9621c7", package = "typst-ts-core" }
typst-ts-compiler = { git = "https://github.com/Myriad-Dreamin/typst.ts", rev = "2fc877de0a4bcd7a8f057933546a97348e9621c7", package = "typst-ts-compiler" }

# typst-ts-svg-exporter = { path = "../typst.ts/exporter/svg" }
# typst-ts-core = { path = "../typst.ts/core" }
# typst-ts-compiler = { path = "../typst.ts/compiler" }

# https://github.com/rust-lang/cargo/issues/8690
[patch."https://github.com/Enter-tainer/typst-preview"]
typst-preview = { path = "external/typst-preview" }
