.text-xs {
  font-size: 0.75rem;
}
.text-sm {
  font-size: 0.875rem;
}
.text-base {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.5rem;
}

.font-bold {
  font-weight: bold;
}

.flex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
/* .flex-wrap {
  flex-wrap: wrap;
} */

.hidden {
  display: none;
}

/* aria-hidden */
span[aria-hidden="true"] {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}
