[package]
name = "tinymist-query"
description = "Language queries for tinymist."
categories = ["compilers", "command-line-utilities"]
keywords = ["api", "language", "typst"]
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]

anyhow.workspace = true
comemo.workspace = true
regex.workspace = true
itertools.workspace = true
lazy_static.workspace = true
strum.workspace = true
log.workspace = true
serde.workspace = true
serde_json.workspace = true
parking_lot.workspace = true
walkdir = "2"

typst.workspace = true
typst-ide.workspace = true

typst-ts-core = { version = "0.4.2-rc6", default-features = false, features = [
    "flat-vector",
    "vector-bbox",
    "no-content-hint",
] }
typst-ts-compiler.workspace = true

tower-lsp.workspace = true

[dev-dependencies]
once_cell.workspace = true
insta.workspace = true
serde.workspace = true
serde_json.workspace = true

# [lints]
# workspace = true
