[package]
name = "tinymist-world"
description = "World implementation of typst for tinymist."
categories = ["compilers"]
keywords = ["language", "typst"]
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]

chrono.workspace = true
clap.workspace = true
comemo.workspace = true
serde.workspace = true
serde_json.workspace = true
anyhow.workspace = true
log.workspace = true

reflexo-typst.workspace = true
typst.workspace = true

tinymist-assets = { workspace = true }
typst-assets = { workspace = true, features = ["fonts"] }

[lints]
workspace = true
