[package]
name = "tinymist"
description = "An integrated language service for Typst."
categories = ["compilers", "command-line-utilities"]
keywords = ["cli", "lsp", "language", "typst"]
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
base64.workspace = true
chrono.workspace = true
clap.workspace = true
clap_builder.workspace = true
clap_complete.workspace = true
clap_complete_fig.workspace = true
clap_complete_nushell.workspace = true
clap_mangen.workspace = true
crossbeam-channel.workspace = true
codespan-reporting.workspace = true
comemo.workspace = true
dhat = { workspace = true, optional = true }
dirs.workspace = true
env_logger.workspace = true
futures.workspace = true
hyper.workspace = true
hyper-util = { workspace = true, features = [
    "server",
    "http1",
    "http2",
    "server-graceful",
    "server-auto",
] }
http-body-util = "0.1.2"
hyper-tungstenite = { workspace = true, optional = true }
itertools.workspace = true
lsp-types.workspace = true
log.workspace = true
once_cell.workspace = true
open.workspace = true
parking_lot.workspace = true
paste.workspace = true
rayon.workspace = true
reflexo.workspace = true
reflexo-typst = { workspace = true, features = ["system", "svg"] }
reflexo-vec2svg.workspace = true
rpds.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
strum.workspace = true
sync-ls = { workspace = true, features = ["lsp", "server"] }
tinymist-assets = { workspace = true }
tinymist-query.workspace = true
tinymist-std.workspace = true
tinymist-core = { workspace = true, default-features = false, features = [] }
tinymist-project = { workspace = true, features = ["lsp"] }
tinymist-render.workspace = true
tokio = { workspace = true, features = ["rt-multi-thread", "io-std"] }
tokio-util.workspace = true
toml.workspace = true
ttf-parser.workspace = true
typlite.workspace = true
typst.workspace = true
typst-svg.workspace = true
typst-pdf.workspace = true
typst-render.workspace = true
typst-timing.workspace = true
typst-html = { workspace = true, optional = true }
typst-shim.workspace = true
typst-preview = { workspace = true, optional = true }
typst-ansi-hl.workspace = true
tinymist-task.workspace = true
tinymist-debug.workspace = true
typstfmt.workspace = true
typstyle-core.workspace = true
unicode-script.workspace = true
walkdir.workspace = true
tinymist-l10n.workspace = true

dapts.workspace = true

[features]
default = [
    "cli",
    "html",
    "pdf",
    "l10n",
    "preview",
    "embed-fonts",
    "no-content-hint",
    "dap",
]

cli = ["sync-ls/clap", "clap/wrap_help"]

dhat-heap = ["dhat"]

# Embeds Typst's default fonts for
# - text (Linux Libertine),
# - math (New Computer Modern Math), and
# - code (Deja Vu Sans Mono)
# and additionally New Computer Modern for text
# into the binary.
embed-fonts = ["tinymist-project/fonts"]

# Enable the experimental HTML backend.
html = ["dep:typst-html"]

pdf = ["tinymist-task/pdf"]

# Disable the default content hint.
# This requires modifying typst.
no-content-hint = [
    "tinymist-task/no-content-hint",
    "tinymist-project/no-content-hint",
    "typst-preview/no-content-hint",
    "reflexo-typst/no-content-hint",
    "reflexo-vec2svg/no-content-hint",
]

preview = [
    "typst-preview",
    "typst-preview/clap",
    "tinymist-assets/typst-preview",
    "hyper-tungstenite",
]

dap = ["sync-ls/dap"]

l10n = ["tinymist-assets/l10n"]

[dev-dependencies]
temp-env.workspace = true

[build-dependencies]
anyhow.workspace = true
cargo_metadata = "0.18.0"
vergen.workspace = true

[lints]
workspace = true
