[package]
name = "tinymist"
description = "Fast lsp implementation for typst."
categories = ["compilers", "command-line-utilities"]
keywords = ["cli", "lsp", "language", "typst"]
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]

tinymist-query = { path = "../tinymist-query" }

once_cell.workspace = true
anyhow.workspace = true
comemo.workspace = true
tokio.workspace = true
tokio-util.workspace = true
futures.workspace = true
itertools.workspace = true
async-trait.workspace = true
env_logger.workspace = true
log.workspace = true
serde.workspace = true
serde_json.workspace = true
parking_lot.workspace = true
paste = "1.0"

clap = { workspace = true, optional = true }
clap_builder.workspace = true
clap_complete.workspace = true
clap_complete_fig.workspace = true
clap_mangen.workspace = true

typst.workspace = true
typst-pdf.workspace = true
typst-assets = { workspace = true, features = ["fonts"] }

typst-ts-core = { version = "0.4.2-rc6", default-features = false, features = [
    "flat-vector",
    "vector-bbox",
    "no-content-hint",
] }
typst-ts-compiler.workspace = true
typst-preview.workspace = true

lsp-server.workspace = true
crossbeam-channel.workspace = true
lsp-types.workspace = true

[features]
default = ["cli"]
cli = ["clap"]

[build-dependencies]
anyhow.workspace = true
vergen.workspace = true
cargo_metadata = "0.18.0"

# [lints]
# workspace = true
