[package]
name = "tinymist"
description = "Fast lsp implementation for typst."
categories = ["compilers", "command-line-utilities"]
keywords = ["cli", "lsp", "language", "typst"]
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]

tinymist-assets = { workspace = true }
tinymist-query.workspace = true
tinymist-render.workspace = true

once_cell.workspace = true
anyhow.workspace = true
comemo.workspace = true
tokio.workspace = true
tokio-util.workspace = true
futures.workspace = true
itertools.workspace = true
async-trait.workspace = true
env_logger.workspace = true
log.workspace = true
serde.workspace = true
serde_json.workspace = true
parking_lot.workspace = true
paste.workspace = true

clap = { workspace = true, optional = true }
clap_builder.workspace = true
clap_complete.workspace = true
clap_complete_fig.workspace = true
clap_mangen.workspace = true

typst.workspace = true
typst-svg.workspace = true
typst-pdf.workspace = true
typst-render.workspace = true
typst-timing.workspace = true
typst-assets.workspace = true

typstyle.workspace = true
typstfmt_lib.workspace = true

reflexo.workspace = true
typst-ts-core = { workspace = true, default-features = false, features = [
    "flat-vector",
    "vector-bbox",
] }
typst-ts-svg-exporter.workspace = true
codespan-reporting.workspace = true
typst-ts-compiler.workspace = true
toml.workspace = true
walkdir.workspace = true
typst-preview = { workspace = true, optional = true }
lsp-server.workspace = true
async-lsp.workspace = true
crossbeam-channel.workspace = true
lsp-types.workspace = true
dhat = { version = "0.3.3", optional = true }
chrono = { version = "0.4" }
unicode-script = "0.5"
await-tree = "0.1.2"
hyper = { version = "0.14", features = ["full"], optional = true }
open = { version = "5.1.3", optional = true }
tower-layer = "0.3.2"
tower-service = "0.3.2"
pin-project-lite = "0.2.13"
base64.workspace = true
rayon.workspace = true

[features]
default = ["cli", "embed-fonts", "no-content-hint", "preview"]

cli = ["clap"]

dhat-heap = ["dhat"]

# Embeds Typst's default fonts for
# - text (Linux Libertine),
# - math (New Computer Modern Math), and
# - code (Deja Vu Sans Mono)
# and additionally New Computer Modern for text
# into the binary.
embed-fonts = ["typst-assets/fonts"]

# Disable the default content hint.
# This requires modifying typst.
no-content-hint = ["typst-ts-core/no-content-hint"]

preview = [
    "typst-preview",
    "typst-preview/clap",
    "tinymist-assets/typst-preview",
    "hyper",
    "open",
]

[build-dependencies]
anyhow.workspace = true
vergen.workspace = true
cargo_metadata = "0.18.0"

# [lints]
# workspace = true
