[package]
name = "tinymist"
description = "Fast lsp implementation for typst."
categories = ["compilers", "command-line-utilities"]
keywords = ["cli", "lsp", "language", "typst"]
authors.workspace = true
version.workspace = true
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]

tinymist-query = { path = "../tinymist-query" }

once_cell.workspace = true
anyhow.workspace = true
comemo.workspace = true
tokio.workspace = true
tokio-util.workspace = true
futures.workspace = true
itertools.workspace = true
async-trait.workspace = true
env_logger.workspace = true
log.workspace = true
serde.workspace = true
serde_json.workspace = true
parking_lot.workspace = true
paste.workspace = true

clap = { workspace = true, optional = true }
clap_builder.workspace = true
clap_complete.workspace = true
clap_complete_fig.workspace = true
clap_mangen.workspace = true

typst.workspace = true
typst-svg.workspace = true
typst-pdf.workspace = true
typst-render.workspace = true
typst-timing.workspace = true
typst-assets = { workspace = true, features = ["fonts"] }

typstyle.workspace = true
typstfmt_lib.workspace = true

typst-ts-core = { workspace = true, default-features = false, features = [
    "flat-vector",
    "vector-bbox",
    "no-content-hint",
] }
typst-ts-svg-exporter.workspace = true
codespan-reporting.workspace = true
typst-ts-compiler.workspace = true
toml.workspace = true
walkdir.workspace = true
typst-preview = { workspace = true, optional = true }
lsp-server.workspace = true
crossbeam-channel.workspace = true
lsp-types.workspace = true
dhat = { version = "0.3.3", optional = true }
chrono = { version = "0.4" }

[features]
default = ["cli", "preview"]
cli = ["clap"]
preview = ["typst-preview"]
dhat-heap = ["dhat"]

[build-dependencies]
anyhow.workspace = true
vergen.workspace = true
cargo_metadata = "0.18.0"

# [lints]
# workspace = true
